body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: #335576;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    padding: 25px 25px;
    z-index: 1000; /* Ensure it's above other content */
}

.header__logo {
    color: #335576;
    font-size: 20px;
    font-weight: bold;
    display: flex;
}

.header__nav {
    margin-top: 0;
}

.nav__list {
    list-style-type: none;
    display: flex;
    min-width: auto;
}

.nav__item {
    margin-right: 30px;
}

.nav__link {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.nav__link--active {
    text-decoration: underline #DB7A4E 4px;
    text-underline-offset: 12px;
}

.logo-container {
    position: absolute;
    left: 50px;
}

.nav-container {
    position: fixed;
    right: 50px;
    max-width: 600px;
}

.footer {
    background-color: #FEFAF5;
    padding: 20px 250px 20px 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-section {
    width: 50%;
}
.footer-section__contact {
    width: 25%;
}

.footer-section__social {
    width: 20%;
}

.hours-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.footer h3 {
    color: #335576;
    text-align: left;
}

.footer-subtitle {
    color: #DB7A4E;
    font-size: 8px;
    text-align: left;
}

.footer-text {
    font-size: 10px;
    text-align: left;
}

.footer-icons {
    text-align: left;
    max-height: 30px;
    width: auto;
    margin: 3px;
    align-items: start;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; */
}
.icons-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 150px;
}