
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: #335576;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    padding: 30px 25px;
    z-index: 1000; /* Ensure it's above other content */
}

.header__logo {
    color: #335576;
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

.header__nav {
    margin-top: 0;
}

.nav__list {
    list-style-type: none;
    display: flex;
    min-width: auto;
}

.nav__item {
    margin-right: 30px;
}

.nav__link {
    color: #000;
    font-size: 22px;
    text-decoration: none;
}

.nav__link--active {
    text-decoration: underline #DB7A4E 4px;
    text-underline-offset: 12px;
}

/* this is the css for the orange underline below the active nav link. NOTE it probably does not belong here */

.logo-container {
    position: absolute;
    left: 50px;
}

.nav-container {
    position: fixed;
    right: 50px;
    max-width: 600px;
}


/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: #335576;
    position: fixed;
    max-width: 1200px;
}

.header__logo {
    color: #335576;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

.header__nav {
    margin-top: 0;

}

.nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav__item {
    margin-right: 10px;
}

.nav__link {
    color: #335576;
    font-weight: bold;
    text-decoration: none;
}

.nav__link--active {
    text-decoration: underline #DB7A4E;
} */


/* .nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #335576;
    font-size: 18px;
}

.nav-links .active a {
    text-decoration: underline;
    color: #DB7A4E;
} */

.hero {
    display: flex;
    background-color: #FEFAF5;
    height: 50vh;
    margin-top: 60px;
}

/* .hero__content {
    width: 100%;
    display: flex;
} */

.hero-copy {
    width: 50%;
    align-items: left;
    justify-content:center;
    flex-direction: column;
    /* position:relative; */
    /* left: 30px; */
    /* height: 100%; */
    display: flex;
    padding-left: 50px;
}

.hero-copy__title {
    color: #335576;
    font-size: 45px;
    line-height: 1.2;
    /* display: inline-block; */
}

.hero-copy__text {
    color: #5C6D82;
    font-size: 20px;
    margin-top: 5px;
    width: 70%;
}

.hero-copy__btn {
    background-color: #DB7A4E;
    color: #fff;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    max-width: 120px;
}

.hero-image {
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
    /* position: absolute; */
    /* right: 50px; */
}

.hero-image__earth-graphic {
    max-width: 500px;
    /* padding: 0px 0px 50px 50px; */
}
