.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #335576;
    font-size: 24px;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #335576;
    font-size: 18px;
}

.nav-links .active a {
    text-decoration: underline;
    color: #DB7A4E;
}