h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #335576;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: #335576;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    padding: 25px 25px;
    z-index: 1000; /* Ensure it's above other content */
}

.header__logo {
    color: #335576;
    font-size: 20px;
    font-weight: bold;
    display: flex;
}

.header__nav {
    margin-top: 0;
}

.nav__list {
    list-style-type: none;
    display: flex;
    min-width: auto;
}

.nav__item {
    margin-right: 30px;
}

.nav__link {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.nav__link--active {
    text-decoration: underline #DB7A4E 4px;
    text-underline-offset: 12px;
}

/* this is the css for the orange underline below the active nav link. NOTE it probably does not belong here */

.logo-container {
    position: absolute;
    left: 50px;
}

.nav-container {
    position: fixed;
    right: 50px;
    max-width: 600px;
}


/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: #335576;
    position: fixed;
    max-width: 1200px;
}

.header__logo {
    color: #335576;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

.header__nav {
    margin-top: 0;

}

.nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav__item {
    margin-right: 10px;
}

.nav__link {
    color: #335576;
    font-weight: bold;
    text-decoration: none;
}

.nav__link--active {
    text-decoration: underline #DB7A4E;
} */


/* .nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #335576;
    font-size: 18px;
}

.nav-links .active a {
    text-decoration: underline;
    color: #DB7A4E;
} */

.hero {
    display: flex;
    background-color: #FEFAF5;
    height: 40vh;
    margin-top: 60px;
    /* max-width: 1280px; */
}

/* .hero__content {
    width: 100%;
    display: flex;
} */

.hero-copy {
    max-width: 640px;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* left: 30px; */
    /* height: 100%; */
    display: flex;
    padding-left: 50px;
}

.hero-copy__title {
    color: #335576;
    font-size: 35px;
    line-height: 1.2;
    width: 70%;
    /* display: inline; */
}

.hero-copy__text {
    color: #335576;
    font-size: 16px;
    margin-top: 5px;
    width: 70%;
}

.hero-copy__btn {
    background-color: #DB7A4E;
    color: #fff;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    max-width: 100px;
}

.hero-image {
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
    position: relative;
    /* right: 50px; */
}

.hero-image__earth-graphic {
    width: 400px;
    display: inline-block;
    /* padding: 0px 0px 50px 50px; */
}

.recommendations {
    text-align: center;
  }

  .recommendations-title {
    text-align: left;
    padding-left: 50px;
    position: relative;
  }
  
  .card {
    display: inline-block;
    margin: 10px;
    position: relative;
  }
  
  .card img {
    width: 240px; /* Adjust as needed */
    height: 360px; /* Adjust as needed */
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }